/*
//
// Sprites
// --------------------------------------------------


// ICONS
// -----

*/

[class^="icon2-"],
[class*=" icon2-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  /*.ie7-restore-right-whitespace();*/
  line-height: 16px;
  vertical-align: text-top;
  background: url("../images/sprites-famfam.png") no-repeat top left;
  background-position: 16px 16px;
  background-repeat: no-repeat;
  margin-top: 1px;
}

.icon2-accept{ background-position: 0 0; } 
.icon2-add{ background-position: -26px 0; } 
.icon2-anchor{ background-position: -52px 0; } 
.icon2-application{ background-position: -78px 0; } 
.icon2-application_add{ background-position: -104px 0; } 
.icon2-application_cascade{ background-position: -130px 0; } 
.icon2-application_delete{ background-position: -156px 0; } 
.icon2-application_double{ background-position: -182px 0; } 
.icon2-application_edit{ background-position: -208px 0; } 
.icon2-application_error{ background-position: -234px 0; } 
.icon2-application_form{ background-position: -260px 0; } 
.icon2-application_form_add{ background-position: -286px 0; } 
.icon2-application_form_delete{ background-position: -312px 0; } 
.icon2-application_form_edit{ background-position: -338px 0; } 
.icon2-application_form_magnify{ background-position: -364px 0; } 
.icon2-application_get{ background-position: -390px 0; } 
.icon2-application_go{ background-position: -416px 0; } 
.icon2-application_home{ background-position: -442px 0; } 
.icon2-application_key{ background-position: -468px 0; } 
.icon2-application_lightning{ background-position: -494px 0; } 
.icon2-application_link{ background-position: -520px 0; } 
.icon2-application_osx{ background-position: -546px 0; } 
.icon2-application_osx_terminal{ background-position: -572px 0; } 
.icon2-application_put{ background-position: -598px 0; } 
.icon2-application_side_boxes{ background-position: -624px 0; } 
.icon2-application_side_contract{ background-position: -650px 0; } 
.icon2-application_side_expand{ background-position: -676px 0; } 
.icon2-application_side_list{ background-position: -702px 0; } 
.icon2-application_side_tree{ background-position: -728px 0; } 
.icon2-application_split{ background-position: -754px 0; } 
.icon2-application_tile_horizontal{ background-position: -780px 0; } 
.icon2-application_tile_vertical{ background-position: -806px 0; } 
.icon2-application_view_columns{ background-position: -832px 0; } 
.icon2-application_view_detail{ background-position: -858px 0; } 
.icon2-application_view_gallery{ background-position: -884px 0; } 
.icon2-application_view_icons{ background-position: -910px 0; } 
.icon2-application_view_list{ background-position: -936px 0; } 
.icon2-application_view_tile{ background-position: -962px 0; } 
.icon2-application_xp{ background-position: -988px 0; } 
.icon2-application_xp_terminal{ background-position: -1014px 0; } 
.icon2-arrow_branch{ background-position: -1040px 0; } 
.icon2-arrow_divide{ background-position: -1066px 0; } 
.icon2-arrow_down{ background-position: -1092px 0; } 
.icon2-arrow_in{ background-position: -1118px 0; } 
.icon2-arrow_inout{ background-position: -1144px 0; } 
.icon2-arrow_join{ background-position: -1170px 0; } 
.icon2-arrow_left{ background-position: -1196px 0; } 
.icon2-arrow_merge{ background-position: -1222px 0; } 
.icon2-arrow_out{ background-position: -1248px 0; } 
.icon2-arrow_redo{ background-position: -1274px 0; } 
.icon2-arrow_refresh{ background-position: -1300px 0; } 
.icon2-arrow_refresh_small{ background-position: -1326px 0; } 
.icon2-arrow_right{ background-position: -1352px 0; } 
.icon2-arrow_rotate_anticlockwise{ background-position: -1378px 0; } 
.icon2-arrow_rotate_clockwise{ background-position: -1404px 0; } 
.icon2-arrow_switch{ background-position: -1430px 0; } 
.icon2-arrow_turn_left{ background-position: -1456px 0; } 
.icon2-arrow_turn_right{ background-position: -1482px 0; } 
.icon2-arrow_undo{ background-position: -1508px 0; } 
.icon2-arrow_up{ background-position: -1534px 0; } 
.icon2-asterisk_orange{ background-position: -1560px 0; } 
.icon2-asterisk_yellow{ background-position: -1586px 0; } 
.icon2-attach{ background-position: -1612px 0; } 
.icon2-award_star_add{ background-position: -1638px 0; } 
.icon2-award_star_bronze_1{ background-position: -1664px 0; } 
.icon2-award_star_bronze_2{ background-position: -1690px 0; } 
.icon2-award_star_bronze_3{ background-position: -1716px 0; } 
.icon2-award_star_delete{ background-position: -1742px 0; } 
.icon2-award_star_gold_1{ background-position: -1768px 0; } 
.icon2-award_star_gold_2{ background-position: -1794px 0; } 
.icon2-award_star_gold_3{ background-position: -1820px 0; } 
.icon2-award_star_silver_1{ background-position: -1846px 0; } 
.icon2-award_star_silver_2{ background-position: -1872px 0; } 
.icon2-award_star_silver_3{ background-position: -1898px 0; } 
.icon2-basket{ background-position: -1924px 0; } 
.icon2-basket_add{ background-position: -1950px 0; } 
.icon2-basket_delete{ background-position: -1976px 0; } 
.icon2-basket_edit{ background-position: 0 -26px; } 
.icon2-basket_error{ background-position: -26px -26px; } 
.icon2-basket_go{ background-position: -52px -26px; } 
.icon2-basket_put{ background-position: -78px -26px; } 
.icon2-basket_remove{ background-position: -104px -26px; } 
.icon2-bell{ background-position: -130px -26px; } 
.icon2-bell_add{ background-position: -156px -26px; } 
.icon2-bell_delete{ background-position: -182px -26px; } 
.icon2-bell_error{ background-position: -208px -26px; } 
.icon2-bell_go{ background-position: -234px -26px; } 
.icon2-bell_link{ background-position: -260px -26px; } 
.icon2-bin{ background-position: -286px -26px; } 
.icon2-bin_closed{ background-position: -312px -26px; } 
.icon2-bin_empty{ background-position: -338px -26px; } 
.icon2-bomb{ background-position: -364px -26px; } 
.icon2-book{ background-position: -390px -26px; } 
.icon2-book_add{ background-position: -416px -26px; } 
.icon2-book_addresses{ background-position: -442px -26px; } 
.icon2-book_delete{ background-position: -468px -26px; } 
.icon2-book_edit{ background-position: -494px -26px; } 
.icon2-book_error{ background-position: -520px -26px; } 
.icon2-book_go{ background-position: -546px -26px; } 
.icon2-book_key{ background-position: -572px -26px; } 
.icon2-book_link{ background-position: -598px -26px; } 
.icon2-book_next{ background-position: -624px -26px; } 
.icon2-book_open{ background-position: -650px -26px; } 
.icon2-book_previous{ background-position: -676px -26px; } 
.icon2-box{ background-position: -702px -26px; } 
.icon2-brick{ background-position: -728px -26px; } 
.icon2-brick_add{ background-position: -754px -26px; } 
.icon2-brick_delete{ background-position: -780px -26px; } 
.icon2-brick_edit{ background-position: -806px -26px; } 
.icon2-brick_error{ background-position: -832px -26px; } 
.icon2-brick_go{ background-position: -858px -26px; } 
.icon2-brick_link{ background-position: -884px -26px; } 
.icon2-bricks{ background-position: -910px -26px; } 
.icon2-briefcase{ background-position: -936px -26px; } 
.icon2-bug{ background-position: -962px -26px; } 
.icon2-bug_add{ background-position: -988px -26px; } 
.icon2-bug_delete{ background-position: -1014px -26px; } 
.icon2-bug_edit{ background-position: -1040px -26px; } 
.icon2-bug_error{ background-position: -1066px -26px; } 
.icon2-bug_go{ background-position: -1092px -26px; } 
.icon2-bug_link{ background-position: -1118px -26px; } 
.icon2-building{ background-position: -1144px -26px; } 
.icon2-building_add{ background-position: -1170px -26px; } 
.icon2-building_delete{ background-position: -1196px -26px; } 
.icon2-building_edit{ background-position: -1222px -26px; } 
.icon2-building_error{ background-position: -1248px -26px; } 
.icon2-building_go{ background-position: -1274px -26px; } 
.icon2-building_key{ background-position: -1300px -26px; } 
.icon2-building_link{ background-position: -1326px -26px; } 
.icon2-bullet_add{ background-position: -1352px -26px; } 
.icon2-bullet_arrow_bottom{ background-position: -1378px -26px; } 
.icon2-bullet_arrow_down{ background-position: -1404px -26px; } 
.icon2-bullet_arrow_top{ background-position: -1430px -26px; } 
.icon2-bullet_arrow_up{ background-position: -1456px -26px; } 
.icon2-bullet_black{ background-position: -1482px -26px; } 
.icon2-bullet_blue{ background-position: -1508px -26px; } 
.icon2-bullet_delete{ background-position: -1534px -26px; } 
.icon2-bullet_disk{ background-position: -1560px -26px; } 
.icon2-bullet_error{ background-position: -1586px -26px; } 
.icon2-bullet_feed{ background-position: -1612px -26px; } 
.icon2-bullet_go{ background-position: -1638px -26px; } 
.icon2-bullet_green{ background-position: -1664px -26px; } 
.icon2-bullet_key{ background-position: -1690px -26px; } 
.icon2-bullet_orange{ background-position: -1716px -26px; } 
.icon2-bullet_picture{ background-position: -1742px -26px; } 
.icon2-bullet_pink{ background-position: -1768px -26px; } 
.icon2-bullet_purple{ background-position: -1794px -26px; } 
.icon2-bullet_red{ background-position: -1820px -26px; } 
.icon2-bullet_star{ background-position: -1846px -26px; } 
.icon2-bullet_toggle_minus{ background-position: -1872px -26px; } 
.icon2-bullet_toggle_plus{ background-position: -1898px -26px; } 
.icon2-bullet_white{ background-position: -1924px -26px; } 
.icon2-bullet_wrench{ background-position: -1950px -26px; } 
.icon2-bullet_yellow{ background-position: -1976px -26px; } 
.icon2-cake{ background-position: 0 -52px; } 
.icon2-calculator{ background-position: -26px -52px; } 
.icon2-calculator_add{ background-position: -52px -52px; } 
.icon2-calculator_delete{ background-position: -78px -52px; } 
.icon2-calculator_edit{ background-position: -104px -52px; } 
.icon2-calculator_error{ background-position: -130px -52px; } 
.icon2-calculator_link{ background-position: -156px -52px; } 
.icon2-calendar{ background-position: -182px -52px; } 
.icon2-calendar_add{ background-position: -208px -52px; } 
.icon2-calendar_delete{ background-position: -234px -52px; } 
.icon2-calendar_edit{ background-position: -260px -52px; } 
.icon2-calendar_link{ background-position: -286px -52px; } 
.icon2-calendar_view_day{ background-position: -312px -52px; } 
.icon2-calendar_view_month{ background-position: -338px -52px; } 
.icon2-calendar_view_week{ background-position: -364px -52px; } 
.icon2-camera{ background-position: -390px -52px; } 
.icon2-camera_add{ background-position: -416px -52px; } 
.icon2-camera_delete{ background-position: -442px -52px; } 
.icon2-camera_edit{ background-position: -468px -52px; } 
.icon2-camera_error{ background-position: -494px -52px; } 
.icon2-camera_go{ background-position: -520px -52px; } 
.icon2-camera_link{ background-position: -546px -52px; } 
.icon2-camera_small{ background-position: -572px -52px; } 
.icon2-cancel{ background-position: -598px -52px; } 
.icon2-car{ background-position: -624px -52px; } 
.icon2-car_add{ background-position: -650px -52px; } 
.icon2-car_delete{ background-position: -676px -52px; } 
.icon2-cart{ background-position: -702px -52px; } 
.icon2-cart_add{ background-position: -728px -52px; } 
.icon2-cart_delete{ background-position: -754px -52px; } 
.icon2-cart_edit{ background-position: -780px -52px; } 
.icon2-cart_error{ background-position: -806px -52px; } 
.icon2-cart_go{ background-position: -832px -52px; } 
.icon2-cart_put{ background-position: -858px -52px; } 
.icon2-cart_remove{ background-position: -884px -52px; } 
.icon2-cd{ background-position: -910px -52px; } 
.icon2-cd_add{ background-position: -936px -52px; } 
.icon2-cd_burn{ background-position: -962px -52px; } 
.icon2-cd_delete{ background-position: -988px -52px; } 
.icon2-cd_edit{ background-position: -1014px -52px; } 
.icon2-cd_eject{ background-position: -1040px -52px; } 
.icon2-cd_go{ background-position: -1066px -52px; } 
.icon2-chart_bar{ background-position: -1092px -52px; } 
.icon2-chart_bar_add{ background-position: -1118px -52px; } 
.icon2-chart_bar_delete{ background-position: -1144px -52px; } 
.icon2-chart_bar_edit{ background-position: -1170px -52px; } 
.icon2-chart_bar_error{ background-position: -1196px -52px; } 
.icon2-chart_bar_link{ background-position: -1222px -52px; } 
.icon2-chart_curve{ background-position: -1248px -52px; } 
.icon2-chart_curve_add{ background-position: -1274px -52px; } 
.icon2-chart_curve_delete{ background-position: -1300px -52px; } 
.icon2-chart_curve_edit{ background-position: -1326px -52px; } 
.icon2-chart_curve_error{ background-position: -1352px -52px; } 
.icon2-chart_curve_go{ background-position: -1378px -52px; } 
.icon2-chart_curve_link{ background-position: -1404px -52px; } 
.icon2-chart_line{ background-position: -1430px -52px; } 
.icon2-chart_line_add{ background-position: -1456px -52px; } 
.icon2-chart_line_delete{ background-position: -1482px -52px; } 
.icon2-chart_line_edit{ background-position: -1508px -52px; } 
.icon2-chart_line_error{ background-position: -1534px -52px; } 
.icon2-chart_line_link{ background-position: -1560px -52px; } 
.icon2-chart_organisation{ background-position: -1586px -52px; } 
.icon2-chart_organisation_add{ background-position: -1612px -52px; } 
.icon2-chart_organisation_delete{ background-position: -1638px -52px; } 
.icon2-chart_pie{ background-position: -1664px -52px; } 
.icon2-chart_pie_add{ background-position: -1690px -52px; } 
.icon2-chart_pie_delete{ background-position: -1716px -52px; } 
.icon2-chart_pie_edit{ background-position: -1742px -52px; } 
.icon2-chart_pie_error{ background-position: -1768px -52px; } 
.icon2-chart_pie_link{ background-position: -1794px -52px; } 
.icon2-clock{ background-position: -1820px -52px; } 
.icon2-clock_add{ background-position: -1846px -52px; } 
.icon2-clock_delete{ background-position: -1872px -52px; } 
.icon2-clock_edit{ background-position: -1898px -52px; } 
.icon2-clock_error{ background-position: -1924px -52px; } 
.icon2-clock_go{ background-position: -1950px -52px; } 
.icon2-clock_link{ background-position: -1976px -52px; } 
.icon2-clock_pause{ background-position: 0 -78px; } 
.icon2-clock_play{ background-position: -26px -78px; } 
.icon2-clock_red{ background-position: -52px -78px; } 
.icon2-clock_stop{ background-position: -78px -78px; } 
.icon2-cog{ background-position: -104px -78px; } 
.icon2-cog_add{ background-position: -130px -78px; } 
.icon2-cog_delete{ background-position: -156px -78px; } 
.icon2-cog_edit{ background-position: -182px -78px; } 
.icon2-cog_error{ background-position: -208px -78px; } 
.icon2-cog_go{ background-position: -234px -78px; } 
.icon2-coins{ background-position: -260px -78px; } 
.icon2-coins_add{ background-position: -286px -78px; } 
.icon2-coins_delete{ background-position: -312px -78px; } 
.icon2-color_swatch{ background-position: -338px -78px; } 
.icon2-color_wheel{ background-position: -364px -78px; } 
.icon2-comment{ background-position: -390px -78px; } 
.icon2-comment_add{ background-position: -416px -78px; } 
.icon2-comment_delete{ background-position: -442px -78px; } 
.icon2-comment_edit{ background-position: -468px -78px; } 
.icon2-comments{ background-position: -494px -78px; } 
.icon2-comments_add{ background-position: -520px -78px; } 
.icon2-comments_delete{ background-position: -546px -78px; } 
.icon2-compress{ background-position: -572px -78px; } 
.icon2-computer{ background-position: -598px -78px; } 
.icon2-computer_add{ background-position: -624px -78px; } 
.icon2-computer_delete{ background-position: -650px -78px; } 
.icon2-computer_edit{ background-position: -676px -78px; } 
.icon2-computer_error{ background-position: -702px -78px; } 
.icon2-computer_go{ background-position: -728px -78px; } 
.icon2-computer_key{ background-position: -754px -78px; } 
.icon2-computer_link{ background-position: -780px -78px; } 
.icon2-connect{ background-position: -806px -78px; } 
.icon2-contrast{ background-position: -832px -78px; } 
.icon2-contrast_decrease{ background-position: -858px -78px; } 
.icon2-contrast_high{ background-position: -884px -78px; } 
.icon2-contrast_increase{ background-position: -910px -78px; } 
.icon2-contrast_low{ background-position: -936px -78px; } 
.icon2-control_eject{ background-position: -962px -78px; } 
.icon2-control_eject_blue{ background-position: -988px -78px; } 
.icon2-control_end{ background-position: -1014px -78px; } 
.icon2-control_end_blue{ background-position: -1040px -78px; } 
.icon2-control_equalizer{ background-position: -1066px -78px; } 
.icon2-control_equalizer_blue{ background-position: -1092px -78px; } 
.icon2-control_fastforward{ background-position: -1118px -78px; } 
.icon2-control_fastforward_blue{ background-position: -1144px -78px; } 
.icon2-control_pause{ background-position: -1170px -78px; } 
.icon2-control_pause_blue{ background-position: -1196px -78px; } 
.icon2-control_play{ background-position: -1222px -78px; } 
.icon2-control_play_blue{ background-position: -1248px -78px; } 
.icon2-control_repeat{ background-position: -1274px -78px; } 
.icon2-control_repeat_blue{ background-position: -1300px -78px; } 
.icon2-control_rewind{ background-position: -1326px -78px; } 
.icon2-control_rewind_blue{ background-position: -1352px -78px; } 
.icon2-control_start{ background-position: -1378px -78px; } 
.icon2-control_start_blue{ background-position: -1404px -78px; } 
.icon2-control_stop{ background-position: -1430px -78px; } 
.icon2-control_stop_blue{ background-position: -1456px -78px; } 
.icon2-controller{ background-position: -1482px -78px; } 
.icon2-controller_add{ background-position: -1508px -78px; } 
.icon2-controller_delete{ background-position: -1534px -78px; } 
.icon2-controller_error{ background-position: -1560px -78px; } 
.icon2-creditcards{ background-position: -1586px -78px; } 
.icon2-cross{ background-position: -1612px -78px; } 
.icon2-css{ background-position: -1638px -78px; } 
.icon2-css_add{ background-position: -1664px -78px; } 
.icon2-css_delete{ background-position: -1690px -78px; } 
.icon2-css_go{ background-position: -1716px -78px; } 
.icon2-css_valid{ background-position: -1742px -78px; } 
.icon2-cup{ background-position: -1768px -78px; } 
.icon2-cup_add{ background-position: -1794px -78px; } 
.icon2-cup_delete{ background-position: -1820px -78px; } 
.icon2-cup_edit{ background-position: -1846px -78px; } 
.icon2-cup_error{ background-position: -1872px -78px; } 
.icon2-cup_go{ background-position: -1898px -78px; } 
.icon2-cup_key{ background-position: -1924px -78px; } 
.icon2-cup_link{ background-position: -1950px -78px; } 
.icon2-cursor{ background-position: -1976px -78px; } 
.icon2-cut{ background-position: 0 -104px; } 
.icon2-cut_red{ background-position: -26px -104px; } 
.icon2-database{ background-position: -52px -104px; } 
.icon2-database_add{ background-position: -78px -104px; } 
.icon2-database_connect{ background-position: -104px -104px; } 
.icon2-database_delete{ background-position: -130px -104px; } 
.icon2-database_edit{ background-position: -156px -104px; } 
.icon2-database_error{ background-position: -182px -104px; } 
.icon2-database_gear{ background-position: -208px -104px; } 
.icon2-database_go{ background-position: -234px -104px; } 
.icon2-database_key{ background-position: -260px -104px; } 
.icon2-database_lightning{ background-position: -286px -104px; } 
.icon2-database_link{ background-position: -312px -104px; } 
.icon2-database_refresh{ background-position: -338px -104px; } 
.icon2-database_save{ background-position: -364px -104px; } 
.icon2-database_table{ background-position: -390px -104px; } 
.icon2-date{ background-position: -416px -104px; } 
.icon2-date_add{ background-position: -442px -104px; } 
.icon2-date_delete{ background-position: -468px -104px; } 
.icon2-date_edit{ background-position: -494px -104px; } 
.icon2-date_error{ background-position: -520px -104px; } 
.icon2-date_go{ background-position: -546px -104px; } 
.icon2-date_link{ background-position: -572px -104px; } 
.icon2-date_magnify{ background-position: -598px -104px; } 
.icon2-date_next{ background-position: -624px -104px; } 
.icon2-date_previous{ background-position: -650px -104px; } 
.icon2-delete{ background-position: -676px -104px; } 
.icon2-disconnect{ background-position: -702px -104px; } 
.icon2-disk{ background-position: -728px -104px; } 
.icon2-disk_multiple{ background-position: -754px -104px; } 
.icon2-door{ background-position: -780px -104px; } 
.icon2-door_in{ background-position: -806px -104px; } 
.icon2-door_open{ background-position: -832px -104px; } 
.icon2-door_out{ background-position: -858px -104px; } 
.icon2-drink{ background-position: -884px -104px; } 
.icon2-drink_empty{ background-position: -910px -104px; } 
.icon2-drive{ background-position: -936px -104px; } 
.icon2-drive_add{ background-position: -962px -104px; } 
.icon2-drive_burn{ background-position: -988px -104px; } 
.icon2-drive_cd{ background-position: -1014px -104px; } 
.icon2-drive_cd_empty{ background-position: -1040px -104px; } 
.icon2-drive_delete{ background-position: -1066px -104px; } 
.icon2-drive_disk{ background-position: -1092px -104px; } 
.icon2-drive_edit{ background-position: -1118px -104px; } 
.icon2-drive_error{ background-position: -1144px -104px; } 
.icon2-drive_go{ background-position: -1170px -104px; } 
.icon2-drive_key{ background-position: -1196px -104px; } 
.icon2-drive_link{ background-position: -1222px -104px; } 
.icon2-drive_magnify{ background-position: -1248px -104px; } 
.icon2-drive_network{ background-position: -1274px -104px; } 
.icon2-drive_rename{ background-position: -1300px -104px; } 
.icon2-drive_user{ background-position: -1326px -104px; } 
.icon2-drive_web{ background-position: -1352px -104px; } 
.icon2-dvd{ background-position: -1378px -104px; } 
.icon2-dvd_add{ background-position: -1404px -104px; } 
.icon2-dvd_delete{ background-position: -1430px -104px; } 
.icon2-dvd_edit{ background-position: -1456px -104px; } 
.icon2-dvd_error{ background-position: -1482px -104px; } 
.icon2-dvd_go{ background-position: -1508px -104px; } 
.icon2-dvd_key{ background-position: -1534px -104px; } 
.icon2-dvd_link{ background-position: -1560px -104px; } 
.icon2-email{ background-position: -1586px -104px; } 
.icon2-email_add{ background-position: -1612px -104px; } 
.icon2-email_attach{ background-position: -1638px -104px; } 
.icon2-email_delete{ background-position: -1664px -104px; } 
.icon2-email_edit{ background-position: -1690px -104px; } 
.icon2-email_error{ background-position: -1716px -104px; } 
.icon2-email_go{ background-position: -1742px -104px; } 
.icon2-email_link{ background-position: -1768px -104px; } 
.icon2-email_open{ background-position: -1794px -104px; } 
.icon2-email_open_image{ background-position: -1820px -104px; } 
.icon2-emoticon_evilgrin{ background-position: -1846px -104px; } 
.icon2-emoticon_grin{ background-position: -1872px -104px; } 
.icon2-emoticon_happy{ background-position: -1898px -104px; } 
.icon2-emoticon_smile{ background-position: -1924px -104px; } 
.icon2-emoticon_surprised{ background-position: -1950px -104px; } 
.icon2-emoticon_tongue{ background-position: -1976px -104px; } 
.icon2-emoticon_unhappy{ background-position: 0 -130px; } 
.icon2-emoticon_waii{ background-position: -26px -130px; } 
.icon2-emoticon_wink{ background-position: -52px -130px; } 
.icon2-error{ background-position: -78px -130px; } 
.icon2-error_add{ background-position: -104px -130px; } 
.icon2-error_delete{ background-position: -130px -130px; } 
.icon2-error_go{ background-position: -156px -130px; } 
.icon2-exclamation{ background-position: -182px -130px; } 
.icon2-eye{ background-position: -208px -130px; } 
.icon2-feed{ background-position: -234px -130px; } 
.icon2-feed_add{ background-position: -260px -130px; } 
.icon2-feed_delete{ background-position: -286px -130px; } 
.icon2-feed_disk{ background-position: -312px -130px; } 
.icon2-feed_edit{ background-position: -338px -130px; } 
.icon2-feed_error{ background-position: -364px -130px; } 
.icon2-feed_go{ background-position: -390px -130px; } 
.icon2-feed_key{ background-position: -416px -130px; } 
.icon2-feed_link{ background-position: -442px -130px; } 
.icon2-feed_magnify{ background-position: -468px -130px; } 
.icon2-female{ background-position: -494px -130px; } 
.icon2-film{ background-position: -520px -130px; } 
.icon2-film_add{ background-position: -546px -130px; } 
.icon2-film_delete{ background-position: -572px -130px; } 
.icon2-film_edit{ background-position: -598px -130px; } 
.icon2-film_error{ background-position: -624px -130px; } 
.icon2-film_go{ background-position: -650px -130px; } 
.icon2-film_key{ background-position: -676px -130px; } 
.icon2-film_link{ background-position: -702px -130px; } 
.icon2-film_save{ background-position: -728px -130px; } 
.icon2-find{ background-position: -754px -130px; } 
.icon2-flag_blue{ background-position: -780px -130px; } 
.icon2-flag_green{ background-position: -806px -130px; } 
.icon2-flag_orange{ background-position: -832px -130px; } 
.icon2-flag_pink{ background-position: -858px -130px; } 
.icon2-flag_purple{ background-position: -884px -130px; } 
.icon2-flag_red{ background-position: -910px -130px; } 
.icon2-flag_yellow{ background-position: -936px -130px; } 
.icon2-folder{ background-position: -962px -130px; } 
.icon2-folder_add{ background-position: -988px -130px; } 
.icon2-folder_bell{ background-position: -1014px -130px; } 
.icon2-folder_brick{ background-position: -1040px -130px; } 
.icon2-folder_bug{ background-position: -1066px -130px; } 
.icon2-folder_camera{ background-position: -1092px -130px; } 
.icon2-folder_database{ background-position: -1118px -130px; } 
.icon2-folder_delete{ background-position: -1144px -130px; } 
.icon2-folder_edit{ background-position: -1170px -130px; } 
.icon2-folder_error{ background-position: -1196px -130px; } 
.icon2-folder_explore{ background-position: -1222px -130px; } 
.icon2-folder_feed{ background-position: -1248px -130px; } 
.icon2-folder_find{ background-position: -1274px -130px; } 
.icon2-folder_go{ background-position: -1300px -130px; } 
.icon2-folder_heart{ background-position: -1326px -130px; } 
.icon2-folder_image{ background-position: -1352px -130px; } 
.icon2-folder_key{ background-position: -1378px -130px; } 
.icon2-folder_lightbulb{ background-position: -1404px -130px; } 
.icon2-folder_link{ background-position: -1430px -130px; } 
.icon2-folder_magnify{ background-position: -1456px -130px; } 
.icon2-folder_page{ background-position: -1482px -130px; } 
.icon2-folder_page_white{ background-position: -1508px -130px; } 
.icon2-folder_palette{ background-position: -1534px -130px; } 
.icon2-folder_picture{ background-position: -1560px -130px; } 
.icon2-folder_star{ background-position: -1586px -130px; } 
.icon2-folder_table{ background-position: -1612px -130px; } 
.icon2-folder_user{ background-position: -1638px -130px; } 
.icon2-folder_wrench{ background-position: -1664px -130px; } 
.icon2-font{ background-position: -1690px -130px; } 
.icon2-font_add{ background-position: -1716px -130px; } 
.icon2-font_delete{ background-position: -1742px -130px; } 
.icon2-font_go{ background-position: -1768px -130px; } 
.icon2-group{ background-position: -1794px -130px; } 
.icon2-group_add{ background-position: -1820px -130px; } 
.icon2-group_delete{ background-position: -1846px -130px; } 
.icon2-group_edit{ background-position: -1872px -130px; } 
.icon2-group_error{ background-position: -1898px -130px; } 
.icon2-group_gear{ background-position: -1924px -130px; } 
.icon2-group_go{ background-position: -1950px -130px; } 
.icon2-group_key{ background-position: -1976px -130px; } 
.icon2-group_link{ background-position: 0 -156px; } 
.icon2-heart{ background-position: -26px -156px; } 
.icon2-heart_add{ background-position: -52px -156px; } 
.icon2-heart_delete{ background-position: -78px -156px; } 
.icon2-help{ background-position: -104px -156px; } 
.icon2-hourglass{ background-position: -130px -156px; } 
.icon2-hourglass_add{ background-position: -156px -156px; } 
.icon2-hourglass_delete{ background-position: -182px -156px; } 
.icon2-hourglass_go{ background-position: -208px -156px; } 
.icon2-hourglass_link{ background-position: -234px -156px; } 
.icon2-house{ background-position: -260px -156px; } 
.icon2-house_go{ background-position: -286px -156px; } 
.icon2-house_link{ background-position: -312px -156px; } 
.icon2-html{ background-position: -338px -156px; } 
.icon2-html_add{ background-position: -364px -156px; } 
.icon2-html_delete{ background-position: -390px -156px; } 
.icon2-html_go{ background-position: -416px -156px; } 
.icon2-html_valid{ background-position: -442px -156px; } 
.icon2-image{ background-position: -468px -156px; } 
.icon2-image_add{ background-position: -494px -156px; } 
.icon2-image_delete{ background-position: -520px -156px; } 
.icon2-image_edit{ background-position: -546px -156px; } 
.icon2-image_link{ background-position: -572px -156px; } 
.icon2-images{ background-position: -598px -156px; } 
.icon2-information{ background-position: -624px -156px; } 
.icon2-ipod{ background-position: -650px -156px; } 
.icon2-ipod_cast{ background-position: -676px -156px; } 
.icon2-ipod_cast_add{ background-position: -702px -156px; } 
.icon2-ipod_cast_delete{ background-position: -728px -156px; } 
.icon2-ipod_sound{ background-position: -754px -156px; } 
.icon2-joystick{ background-position: -780px -156px; } 
.icon2-joystick_add{ background-position: -806px -156px; } 
.icon2-joystick_delete{ background-position: -832px -156px; } 
.icon2-joystick_error{ background-position: -858px -156px; } 
.icon2-key{ background-position: -884px -156px; } 
.icon2-key_add{ background-position: -910px -156px; } 
.icon2-key_delete{ background-position: -936px -156px; } 
.icon2-key_go{ background-position: -962px -156px; } 
.icon2-keyboard{ background-position: -988px -156px; } 
.icon2-keyboard_add{ background-position: -1014px -156px; } 
.icon2-keyboard_delete{ background-position: -1040px -156px; } 
.icon2-keyboard_magnify{ background-position: -1066px -156px; } 
.icon2-layers{ background-position: -1092px -156px; } 
.icon2-layout{ background-position: -1118px -156px; } 
.icon2-layout_add{ background-position: -1144px -156px; } 
.icon2-layout_content{ background-position: -1170px -156px; } 
.icon2-layout_delete{ background-position: -1196px -156px; } 
.icon2-layout_edit{ background-position: -1222px -156px; } 
.icon2-layout_error{ background-position: -1248px -156px; } 
.icon2-layout_header{ background-position: -1274px -156px; } 
.icon2-layout_link{ background-position: -1300px -156px; } 
.icon2-layout_sidebar{ background-position: -1326px -156px; } 
.icon2-lightbulb{ background-position: -1352px -156px; } 
.icon2-lightbulb_add{ background-position: -1378px -156px; } 
.icon2-lightbulb_delete{ background-position: -1404px -156px; } 
.icon2-lightbulb_off{ background-position: -1430px -156px; } 
.icon2-lightning{ background-position: -1456px -156px; } 
.icon2-lightning_add{ background-position: -1482px -156px; } 
.icon2-lightning_delete{ background-position: -1508px -156px; } 
.icon2-lightning_go{ background-position: -1534px -156px; } 
.icon2-link{ background-position: -1560px -156px; } 
.icon2-link_add{ background-position: -1586px -156px; } 
.icon2-link_break{ background-position: -1612px -156px; } 
.icon2-link_delete{ background-position: -1638px -156px; } 
.icon2-link_edit{ background-position: -1664px -156px; } 
.icon2-link_error{ background-position: -1690px -156px; } 
.icon2-link_go{ background-position: -1716px -156px; } 
.icon2-lock{ background-position: -1742px -156px; } 
.icon2-lock_add{ background-position: -1768px -156px; } 
.icon2-lock_break{ background-position: -1794px -156px; } 
.icon2-lock_delete{ background-position: -1820px -156px; } 
.icon2-lock_edit{ background-position: -1846px -156px; } 
.icon2-lock_go{ background-position: -1872px -156px; } 
.icon2-lock_open{ background-position: -1898px -156px; } 
.icon2-lorry{ background-position: -1924px -156px; } 
.icon2-lorry_add{ background-position: -1950px -156px; } 
.icon2-lorry_delete{ background-position: -1976px -156px; } 
.icon2-lorry_error{ background-position: 0 -182px; } 
.icon2-lorry_flatbed{ background-position: -26px -182px; } 
.icon2-lorry_go{ background-position: -52px -182px; } 
.icon2-lorry_link{ background-position: -78px -182px; } 
.icon2-magifier_zoom_out{ background-position: -104px -182px; } 
.icon2-magnifier{ background-position: -130px -182px; } 
.icon2-magnifier_zoom_in{ background-position: -156px -182px; } 
.icon2-male{ background-position: -182px -182px; } 
.icon2-map{ background-position: -208px -182px; } 
.icon2-map_add{ background-position: -234px -182px; } 
.icon2-map_delete{ background-position: -260px -182px; } 
.icon2-map_edit{ background-position: -286px -182px; } 
.icon2-map_go{ background-position: -312px -182px; } 
.icon2-map_magnify{ background-position: -338px -182px; } 
.icon2-medal_bronze_1{ background-position: -364px -182px; } 
.icon2-medal_bronze_2{ background-position: -390px -182px; } 
.icon2-medal_bronze_3{ background-position: -416px -182px; } 
.icon2-medal_bronze_add{ background-position: -442px -182px; } 
.icon2-medal_bronze_delete{ background-position: -468px -182px; } 
.icon2-medal_gold_1{ background-position: -494px -182px; } 
.icon2-medal_gold_2{ background-position: -520px -182px; } 
.icon2-medal_gold_3{ background-position: -546px -182px; } 
.icon2-medal_gold_add{ background-position: -572px -182px; } 
.icon2-medal_gold_delete{ background-position: -598px -182px; } 
.icon2-medal_silver_1{ background-position: -624px -182px; } 
.icon2-medal_silver_2{ background-position: -650px -182px; } 
.icon2-medal_silver_3{ background-position: -676px -182px; } 
.icon2-medal_silver_add{ background-position: -702px -182px; } 
.icon2-medal_silver_delete{ background-position: -728px -182px; } 
.icon2-money{ background-position: -754px -182px; } 
.icon2-money_add{ background-position: -780px -182px; } 
.icon2-money_delete{ background-position: -806px -182px; } 
.icon2-money_dollar{ background-position: -832px -182px; } 
.icon2-money_euro{ background-position: -858px -182px; } 
.icon2-money_pound{ background-position: -884px -182px; } 
.icon2-money_yen{ background-position: -910px -182px; } 
.icon2-monitor{ background-position: -936px -182px; } 
.icon2-monitor_add{ background-position: -962px -182px; } 
.icon2-monitor_delete{ background-position: -988px -182px; } 
.icon2-monitor_edit{ background-position: -1014px -182px; } 
.icon2-monitor_error{ background-position: -1040px -182px; } 
.icon2-monitor_go{ background-position: -1066px -182px; } 
.icon2-monitor_lightning{ background-position: -1092px -182px; } 
.icon2-monitor_link{ background-position: -1118px -182px; } 
.icon2-mouse{ background-position: -1144px -182px; } 
.icon2-mouse_add{ background-position: -1170px -182px; } 
.icon2-mouse_delete{ background-position: -1196px -182px; } 
.icon2-mouse_error{ background-position: -1222px -182px; } 
.icon2-music{ background-position: -1248px -182px; } 
.icon2-new{ background-position: -1274px -182px; } 
.icon2-newspaper{ background-position: -1300px -182px; } 
.icon2-newspaper_add{ background-position: -1326px -182px; } 
.icon2-newspaper_delete{ background-position: -1352px -182px; } 
.icon2-newspaper_go{ background-position: -1378px -182px; } 
.icon2-newspaper_link{ background-position: -1404px -182px; } 
.icon2-note{ background-position: -1430px -182px; } 
.icon2-note_add{ background-position: -1456px -182px; } 
.icon2-note_delete{ background-position: -1482px -182px; } 
.icon2-note_edit{ background-position: -1508px -182px; } 
.icon2-note_error{ background-position: -1534px -182px; } 
.icon2-note_go{ background-position: -1560px -182px; } 
.icon2-overlays{ background-position: -1586px -182px; } 
.icon2-package{ background-position: -1612px -182px; } 
.icon2-package_add{ background-position: -1638px -182px; } 
.icon2-package_delete{ background-position: -1664px -182px; } 
.icon2-package_go{ background-position: -1690px -182px; } 
.icon2-package_green{ background-position: -1716px -182px; } 
.icon2-package_link{ background-position: -1742px -182px; } 
.icon2-page{ background-position: -1768px -182px; } 
.icon2-page_add{ background-position: -1794px -182px; } 
.icon2-page_attach{ background-position: -1820px -182px; } 
.icon2-page_code{ background-position: -1846px -182px; } 
.icon2-page_copy{ background-position: -1872px -182px; } 
.icon2-page_delete{ background-position: -1898px -182px; } 
.icon2-page_edit{ background-position: -1924px -182px; } 
.icon2-page_error{ background-position: -1950px -182px; } 
.icon2-page_excel{ background-position: -1976px -182px; } 
.icon2-page_find{ background-position: 0 -208px; } 
.icon2-page_gear{ background-position: -26px -208px; } 
.icon2-page_go{ background-position: -52px -208px; } 
.icon2-page_green{ background-position: -78px -208px; } 
.icon2-page_key{ background-position: -104px -208px; } 
.icon2-page_lightning{ background-position: -130px -208px; } 
.icon2-page_link{ background-position: -156px -208px; } 
.icon2-page_paintbrush{ background-position: -182px -208px; } 
.icon2-page_paste{ background-position: -208px -208px; } 
.icon2-page_red{ background-position: -234px -208px; } 
.icon2-page_refresh{ background-position: -260px -208px; } 
.icon2-page_save{ background-position: -286px -208px; } 
.icon2-page_white{ background-position: -312px -208px; } 
.icon2-page_white_acrobat{ background-position: -338px -208px; } 
.icon2-page_white_actionscript{ background-position: -364px -208px; } 
.icon2-page_white_add{ background-position: -390px -208px; } 
.icon2-page_white_c{ background-position: -416px -208px; } 
.icon2-page_white_camera{ background-position: -442px -208px; } 
.icon2-page_white_cd{ background-position: -468px -208px; } 
.icon2-page_white_code{ background-position: -494px -208px; } 
.icon2-page_white_code_red{ background-position: -520px -208px; } 
.icon2-page_white_coldfusion{ background-position: -546px -208px; } 
.icon2-page_white_compressed{ background-position: -572px -208px; } 
.icon2-page_white_copy{ background-position: -598px -208px; } 
.icon2-page_white_cplusplus{ background-position: -624px -208px; } 
.icon2-page_white_csharp{ background-position: -650px -208px; } 
.icon2-page_white_cup{ background-position: -676px -208px; } 
.icon2-page_white_database{ background-position: -702px -208px; } 
.icon2-page_white_delete{ background-position: -728px -208px; } 
.icon2-page_white_dvd{ background-position: -754px -208px; } 
.icon2-page_white_edit{ background-position: -780px -208px; } 
.icon2-page_white_error{ background-position: -806px -208px; } 
.icon2-page_white_excel{ background-position: -832px -208px; } 
.icon2-page_white_find{ background-position: -858px -208px; } 
.icon2-page_white_flash{ background-position: -884px -208px; } 
.icon2-page_white_freehand{ background-position: -910px -208px; } 
.icon2-page_white_gear{ background-position: -936px -208px; } 
.icon2-page_white_get{ background-position: -962px -208px; } 
.icon2-page_white_go{ background-position: -988px -208px; } 
.icon2-page_white_h{ background-position: -1014px -208px; } 
.icon2-page_white_horizontal{ background-position: -1040px -208px; } 
.icon2-page_white_key{ background-position: -1066px -208px; } 
.icon2-page_white_lightning{ background-position: -1092px -208px; } 
.icon2-page_white_link{ background-position: -1118px -208px; } 
.icon2-page_white_magnify{ background-position: -1144px -208px; } 
.icon2-page_white_medal{ background-position: -1170px -208px; } 
.icon2-page_white_office{ background-position: -1196px -208px; } 
.icon2-page_white_paint{ background-position: -1222px -208px; } 
.icon2-page_white_paintbrush{ background-position: -1248px -208px; } 
.icon2-page_white_paste{ background-position: -1274px -208px; } 
.icon2-page_white_php{ background-position: -1300px -208px; } 
.icon2-page_white_picture{ background-position: -1326px -208px; } 
.icon2-page_white_powerpoint{ background-position: -1352px -208px; } 
.icon2-page_white_put{ background-position: -1378px -208px; } 
.icon2-page_white_ruby{ background-position: -1404px -208px; } 
.icon2-page_white_stack{ background-position: -1430px -208px; } 
.icon2-page_white_star{ background-position: -1456px -208px; } 
.icon2-page_white_swoosh{ background-position: -1482px -208px; } 
.icon2-page_white_text{ background-position: -1508px -208px; } 
.icon2-page_white_text_width{ background-position: -1534px -208px; } 
.icon2-page_white_tux{ background-position: -1560px -208px; } 
.icon2-page_white_vector{ background-position: -1586px -208px; } 
.icon2-page_white_visualstudio{ background-position: -1612px -208px; } 
.icon2-page_white_width{ background-position: -1638px -208px; } 
.icon2-page_white_word{ background-position: -1664px -208px; } 
.icon2-page_white_world{ background-position: -1690px -208px; } 
.icon2-page_white_wrench{ background-position: -1716px -208px; } 
.icon2-page_white_zip{ background-position: -1742px -208px; } 
.icon2-page_word{ background-position: -1768px -208px; } 
.icon2-page_world{ background-position: -1794px -208px; } 
.icon2-paintbrush{ background-position: -1820px -208px; } 
.icon2-paintcan{ background-position: -1846px -208px; } 
.icon2-palette{ background-position: -1872px -208px; } 
.icon2-paste_plain{ background-position: -1898px -208px; } 
.icon2-paste_word{ background-position: -1924px -208px; } 
.icon2-pencil{ background-position: -1950px -208px; } 
.icon2-pencil_add{ background-position: -1976px -208px; } 
.icon2-pencil_delete{ background-position: 0 -234px; } 
.icon2-pencil_go{ background-position: -26px -234px; } 
.icon2-phone{ background-position: -52px -234px; } 
.icon2-phone_add{ background-position: -78px -234px; } 
.icon2-phone_delete{ background-position: -104px -234px; } 
.icon2-phone_sound{ background-position: -130px -234px; } 
.icon2-photo{ background-position: -156px -234px; } 
.icon2-photo_add{ background-position: -182px -234px; } 
.icon2-photo_delete{ background-position: -208px -234px; } 
.icon2-photo_link{ background-position: -234px -234px; } 
.icon2-photos{ background-position: -260px -234px; } 
.icon2-picture{ background-position: -286px -234px; } 
.icon2-picture_add{ background-position: -312px -234px; } 
.icon2-picture_delete{ background-position: -338px -234px; } 
.icon2-picture_edit{ background-position: -364px -234px; } 
.icon2-picture_empty{ background-position: -390px -234px; } 
.icon2-picture_error{ background-position: -416px -234px; } 
.icon2-picture_go{ background-position: -442px -234px; } 
.icon2-picture_key{ background-position: -468px -234px; } 
.icon2-picture_link{ background-position: -494px -234px; } 
.icon2-picture_save{ background-position: -520px -234px; } 
.icon2-pictures{ background-position: -546px -234px; } 
.icon2-pilcrow{ background-position: -572px -234px; } 
.icon2-pill{ background-position: -598px -234px; } 
.icon2-pill_add{ background-position: -624px -234px; } 
.icon2-pill_delete{ background-position: -650px -234px; } 
.icon2-pill_go{ background-position: -676px -234px; } 
.icon2-plugin{ background-position: -702px -234px; } 
.icon2-plugin_add{ background-position: -728px -234px; } 
.icon2-plugin_delete{ background-position: -754px -234px; } 
.icon2-plugin_disabled{ background-position: -780px -234px; } 
.icon2-plugin_edit{ background-position: -806px -234px; } 
.icon2-plugin_error{ background-position: -832px -234px; } 
.icon2-plugin_go{ background-position: -858px -234px; } 
.icon2-plugin_link{ background-position: -884px -234px; } 
.icon2-printer{ background-position: -910px -234px; } 
.icon2-printer_add{ background-position: -936px -234px; } 
.icon2-printer_delete{ background-position: -962px -234px; } 
.icon2-printer_empty{ background-position: -988px -234px; } 
.icon2-printer_error{ background-position: -1014px -234px; } 
.icon2-rainbow{ background-position: -1040px -234px; } 
.icon2-report{ background-position: -1066px -234px; } 
.icon2-report_add{ background-position: -1092px -234px; } 
.icon2-report_delete{ background-position: -1118px -234px; } 
.icon2-report_disk{ background-position: -1144px -234px; } 
.icon2-report_edit{ background-position: -1170px -234px; } 
.icon2-report_go{ background-position: -1196px -234px; } 
.icon2-report_key{ background-position: -1222px -234px; } 
.icon2-report_link{ background-position: -1248px -234px; } 
.icon2-report_magnify{ background-position: -1274px -234px; } 
.icon2-report_picture{ background-position: -1300px -234px; } 
.icon2-report_user{ background-position: -1326px -234px; } 
.icon2-report_word{ background-position: -1352px -234px; } 
.icon2-resultset_first{ background-position: -1378px -234px; } 
.icon2-resultset_last{ background-position: -1404px -234px; } 
.icon2-resultset_next{ background-position: -1430px -234px; } 
.icon2-resultset_previous{ background-position: -1456px -234px; } 
.icon2-rosette{ background-position: -1482px -234px; } 
.icon2-rss{ background-position: -1508px -234px; } 
.icon2-rss_add{ background-position: -1534px -234px; } 
.icon2-rss_delete{ background-position: -1560px -234px; } 
.icon2-rss_go{ background-position: -1586px -234px; } 
.icon2-rss_valid{ background-position: -1612px -234px; } 
.icon2-ruby{ background-position: -1638px -234px; } 
.icon2-ruby_add{ background-position: -1664px -234px; } 
.icon2-ruby_delete{ background-position: -1690px -234px; } 
.icon2-ruby_gear{ background-position: -1716px -234px; } 
.icon2-ruby_get{ background-position: -1742px -234px; } 
.icon2-ruby_go{ background-position: -1768px -234px; } 
.icon2-ruby_key{ background-position: -1794px -234px; } 
.icon2-ruby_link{ background-position: -1820px -234px; } 
.icon2-ruby_put{ background-position: -1846px -234px; } 
.icon2-script{ background-position: -1872px -234px; } 
.icon2-script_add{ background-position: -1898px -234px; } 
.icon2-script_code{ background-position: -1924px -234px; } 
.icon2-script_code_red{ background-position: -1950px -234px; } 
.icon2-script_delete{ background-position: -1976px -234px; } 
.icon2-script_edit{ background-position: 0 -260px; } 
.icon2-script_error{ background-position: -26px -260px; } 
.icon2-script_gear{ background-position: -52px -260px; } 
.icon2-script_go{ background-position: -78px -260px; } 
.icon2-script_key{ background-position: -104px -260px; } 
.icon2-script_lightning{ background-position: -130px -260px; } 
.icon2-script_link{ background-position: -156px -260px; } 
.icon2-script_palette{ background-position: -182px -260px; } 
.icon2-script_save{ background-position: -208px -260px; } 
.icon2-server{ background-position: -234px -260px; } 
.icon2-server_add{ background-position: -260px -260px; } 
.icon2-server_chart{ background-position: -286px -260px; } 
.icon2-server_compressed{ background-position: -312px -260px; } 
.icon2-server_connect{ background-position: -338px -260px; } 
.icon2-server_database{ background-position: -364px -260px; } 
.icon2-server_delete{ background-position: -390px -260px; } 
.icon2-server_edit{ background-position: -416px -260px; } 
.icon2-server_error{ background-position: -442px -260px; } 
.icon2-server_go{ background-position: -468px -260px; } 
.icon2-server_key{ background-position: -494px -260px; } 
.icon2-server_lightning{ background-position: -520px -260px; } 
.icon2-server_link{ background-position: -546px -260px; } 
.icon2-server_uncompressed{ background-position: -572px -260px; } 
.icon2-shading{ background-position: -598px -260px; } 
.icon2-shape_align_bottom{ background-position: -624px -260px; } 
.icon2-shape_align_center{ background-position: -650px -260px; } 
.icon2-shape_align_left{ background-position: -676px -260px; } 
.icon2-shape_align_middle{ background-position: -702px -260px; } 
.icon2-shape_align_right{ background-position: -728px -260px; } 
.icon2-shape_align_top{ background-position: -754px -260px; } 
.icon2-shape_flip_horizontal{ background-position: -780px -260px; } 
.icon2-shape_flip_vertical{ background-position: -806px -260px; } 
.icon2-shape_group{ background-position: -832px -260px; } 
.icon2-shape_handles{ background-position: -858px -260px; } 
.icon2-shape_move_back{ background-position: -884px -260px; } 
.icon2-shape_move_backwards{ background-position: -910px -260px; } 
.icon2-shape_move_forwards{ background-position: -936px -260px; } 
.icon2-shape_move_front{ background-position: -962px -260px; } 
.icon2-shape_rotate_anticlockwise{ background-position: -988px -260px; } 
.icon2-shape_rotate_clockwise{ background-position: -1014px -260px; } 
.icon2-shape_square{ background-position: -1040px -260px; } 
.icon2-shape_square_add{ background-position: -1066px -260px; } 
.icon2-shape_square_delete{ background-position: -1092px -260px; } 
.icon2-shape_square_edit{ background-position: -1118px -260px; } 
.icon2-shape_square_error{ background-position: -1144px -260px; } 
.icon2-shape_square_go{ background-position: -1170px -260px; } 
.icon2-shape_square_key{ background-position: -1196px -260px; } 
.icon2-shape_square_link{ background-position: -1222px -260px; } 
.icon2-shape_ungroup{ background-position: -1248px -260px; } 
.icon2-shield{ background-position: -1274px -260px; } 
.icon2-shield_add{ background-position: -1300px -260px; } 
.icon2-shield_delete{ background-position: -1326px -260px; } 
.icon2-shield_go{ background-position: -1352px -260px; } 
.icon2-sitemap{ background-position: -1378px -260px; } 
.icon2-sitemap_color{ background-position: -1404px -260px; } 
.icon2-sound{ background-position: -1430px -260px; } 
.icon2-sound_add{ background-position: -1456px -260px; } 
.icon2-sound_delete{ background-position: -1482px -260px; } 
.icon2-sound_low{ background-position: -1508px -260px; } 
.icon2-sound_mute{ background-position: -1534px -260px; } 
.icon2-sound_none{ background-position: -1560px -260px; } 
.icon2-spellcheck{ background-position: -1586px -260px; } 
.icon2-sport_8ball{ background-position: -1612px -260px; } 
.icon2-sport_basketball{ background-position: -1638px -260px; } 
.icon2-sport_football{ background-position: -1664px -260px; } 
.icon2-sport_golf{ background-position: -1690px -260px; } 
.icon2-sport_raquet{ background-position: -1716px -260px; } 
.icon2-sport_shuttlecock{ background-position: -1742px -260px; } 
.icon2-sport_soccer{ background-position: -1768px -260px; } 
.icon2-sport_tennis{ background-position: -1794px -260px; } 
.icon2-star{ background-position: -1820px -260px; } 
.icon2-status_away{ background-position: -1846px -260px; } 
.icon2-status_busy{ background-position: -1872px -260px; } 
.icon2-status_offline{ background-position: -1898px -260px; } 
.icon2-status_online{ background-position: -1924px -260px; } 
.icon2-stop{ background-position: -1950px -260px; } 
.icon2-style{ background-position: -1976px -260px; } 
.icon2-style_add{ background-position: 0 -286px; } 
.icon2-style_delete{ background-position: -26px -286px; } 
.icon2-style_edit{ background-position: -52px -286px; } 
.icon2-style_go{ background-position: -78px -286px; } 
.icon2-sum{ background-position: -104px -286px; } 
.icon2-tab{ background-position: -130px -286px; } 
.icon2-tab_add{ background-position: -156px -286px; } 
.icon2-tab_delete{ background-position: -182px -286px; } 
.icon2-tab_edit{ background-position: -208px -286px; } 
.icon2-tab_go{ background-position: -234px -286px; } 
.icon2-table{ background-position: -260px -286px; } 
.icon2-table_add{ background-position: -286px -286px; } 
.icon2-table_delete{ background-position: -312px -286px; } 
.icon2-table_edit{ background-position: -338px -286px; } 
.icon2-table_error{ background-position: -364px -286px; } 
.icon2-table_gear{ background-position: -390px -286px; } 
.icon2-table_go{ background-position: -416px -286px; } 
.icon2-table_key{ background-position: -442px -286px; } 
.icon2-table_lightning{ background-position: -468px -286px; } 
.icon2-table_link{ background-position: -494px -286px; } 
.icon2-table_multiple{ background-position: -520px -286px; } 
.icon2-table_refresh{ background-position: -546px -286px; } 
.icon2-table_relationship{ background-position: -572px -286px; } 
.icon2-table_row_delete{ background-position: -598px -286px; } 
.icon2-table_row_insert{ background-position: -624px -286px; } 
.icon2-table_save{ background-position: -650px -286px; } 
.icon2-table_sort{ background-position: -676px -286px; } 
.icon2-tag{ background-position: -702px -286px; } 
.icon2-tag_blue{ background-position: -728px -286px; } 
.icon2-tag_blue_add{ background-position: -754px -286px; } 
.icon2-tag_blue_delete{ background-position: -780px -286px; } 
.icon2-tag_blue_edit{ background-position: -806px -286px; } 
.icon2-tag_green{ background-position: -832px -286px; } 
.icon2-tag_orange{ background-position: -858px -286px; } 
.icon2-tag_pink{ background-position: -884px -286px; } 
.icon2-tag_purple{ background-position: -910px -286px; } 
.icon2-tag_red{ background-position: -936px -286px; } 
.icon2-tag_yellow{ background-position: -962px -286px; } 
.icon2-telephone{ background-position: -988px -286px; } 
.icon2-telephone_add{ background-position: -1014px -286px; } 
.icon2-telephone_delete{ background-position: -1040px -286px; } 
.icon2-telephone_edit{ background-position: -1066px -286px; } 
.icon2-telephone_error{ background-position: -1092px -286px; } 
.icon2-telephone_go{ background-position: -1118px -286px; } 
.icon2-telephone_key{ background-position: -1144px -286px; } 
.icon2-telephone_link{ background-position: -1170px -286px; } 
.icon2-television{ background-position: -1196px -286px; } 
.icon2-television_add{ background-position: -1222px -286px; } 
.icon2-television_delete{ background-position: -1248px -286px; } 
.icon2-text_align_center{ background-position: -1274px -286px; } 
.icon2-text_align_justify{ background-position: -1300px -286px; } 
.icon2-text_align_left{ background-position: -1326px -286px; } 
.icon2-text_align_right{ background-position: -1352px -286px; } 
.icon2-text_allcaps{ background-position: -1378px -286px; } 
.icon2-text_bold{ background-position: -1404px -286px; } 
.icon2-text_columns{ background-position: -1430px -286px; } 
.icon2-text_dropcaps{ background-position: -1456px -286px; } 
.icon2-text_heading_1{ background-position: -1482px -286px; } 
.icon2-text_heading_2{ background-position: -1508px -286px; } 
.icon2-text_heading_3{ background-position: -1534px -286px; } 
.icon2-text_heading_4{ background-position: -1560px -286px; } 
.icon2-text_heading_5{ background-position: -1586px -286px; } 
.icon2-text_heading_6{ background-position: -1612px -286px; } 
.icon2-text_horizontalrule{ background-position: -1638px -286px; } 
.icon2-text_indent{ background-position: -1664px -286px; } 
.icon2-text_indent_remove{ background-position: -1690px -286px; } 
.icon2-text_italic{ background-position: -1716px -286px; } 
.icon2-text_kerning{ background-position: -1742px -286px; } 
.icon2-text_letter_omega{ background-position: -1768px -286px; } 
.icon2-text_letterspacing{ background-position: -1794px -286px; } 
.icon2-text_linespacing{ background-position: -1820px -286px; } 
.icon2-text_list_bullets{ background-position: -1846px -286px; } 
.icon2-text_list_numbers{ background-position: -1872px -286px; } 
.icon2-text_lowercase{ background-position: -1898px -286px; } 
.icon2-text_padding_bottom{ background-position: -1924px -286px; } 
.icon2-text_padding_left{ background-position: -1950px -286px; } 
.icon2-text_padding_right{ background-position: -1976px -286px; } 
.icon2-text_padding_top{ background-position: 0 -312px; } 
.icon2-text_replace{ background-position: -26px -312px; } 
.icon2-text_signature{ background-position: -52px -312px; } 
.icon2-text_smallcaps{ background-position: -78px -312px; } 
.icon2-text_strikethrough{ background-position: -104px -312px; } 
.icon2-text_subscript{ background-position: -130px -312px; } 
.icon2-text_superscript{ background-position: -156px -312px; } 
.icon2-text_underline{ background-position: -182px -312px; } 
.icon2-text_uppercase{ background-position: -208px -312px; } 
.icon2-textfield{ background-position: -234px -312px; } 
.icon2-textfield_add{ background-position: -260px -312px; } 
.icon2-textfield_delete{ background-position: -286px -312px; } 
.icon2-textfield_key{ background-position: -312px -312px; } 
.icon2-textfield_rename{ background-position: -338px -312px; } 
.icon2-thumb_down{ background-position: -364px -312px; } 
.icon2-thumb_up{ background-position: -390px -312px; } 
.icon2-tick{ background-position: -416px -312px; } 
.icon2-time{ background-position: -442px -312px; } 
.icon2-time_add{ background-position: -468px -312px; } 
.icon2-time_delete{ background-position: -494px -312px; } 
.icon2-time_go{ background-position: -520px -312px; } 
.icon2-timeline_marker{ background-position: -546px -312px; } 
.icon2-transmit{ background-position: -572px -312px; } 
.icon2-transmit_add{ background-position: -598px -312px; } 
.icon2-transmit_blue{ background-position: -624px -312px; } 
.icon2-transmit_delete{ background-position: -650px -312px; } 
.icon2-transmit_edit{ background-position: -676px -312px; } 
.icon2-transmit_error{ background-position: -702px -312px; } 
.icon2-transmit_go{ background-position: -728px -312px; } 
.icon2-tux{ background-position: -754px -312px; } 
.icon2-user{ background-position: -780px -312px; } 
.icon2-user_add{ background-position: -806px -312px; } 
.icon2-user_comment{ background-position: -832px -312px; } 
.icon2-user_delete{ background-position: -858px -312px; } 
.icon2-user_edit{ background-position: -884px -312px; } 
.icon2-user_female{ background-position: -910px -312px; } 
.icon2-user_go{ background-position: -936px -312px; } 
.icon2-user_gray{ background-position: -962px -312px; } 
.icon2-user_green{ background-position: -988px -312px; } 
.icon2-user_orange{ background-position: -1014px -312px; } 
.icon2-user_red{ background-position: -1040px -312px; } 
.icon2-user_suit{ background-position: -1066px -312px; } 
.icon2-vcard{ background-position: -1092px -312px; } 
.icon2-vcard_add{ background-position: -1118px -312px; } 
.icon2-vcard_delete{ background-position: -1144px -312px; } 
.icon2-vcard_edit{ background-position: -1170px -312px; } 
.icon2-vector{ background-position: -1196px -312px; } 
.icon2-vector_add{ background-position: -1222px -312px; } 
.icon2-vector_delete{ background-position: -1248px -312px; } 
.icon2-wand{ background-position: -1274px -312px; } 
.icon2-weather_clouds{ background-position: -1300px -312px; } 
.icon2-weather_cloudy{ background-position: -1326px -312px; } 
.icon2-weather_lightning{ background-position: -1352px -312px; } 
.icon2-weather_rain{ background-position: -1378px -312px; } 
.icon2-weather_snow{ background-position: -1404px -312px; } 
.icon2-weather_sun{ background-position: -1430px -312px; } 
.icon2-webcam{ background-position: -1456px -312px; } 
.icon2-webcam_add{ background-position: -1482px -312px; } 
.icon2-webcam_delete{ background-position: -1508px -312px; } 
.icon2-webcam_error{ background-position: -1534px -312px; } 
.icon2-world{ background-position: -1560px -312px; } 
.icon2-world_add{ background-position: -1586px -312px; } 
.icon2-world_delete{ background-position: -1612px -312px; } 
.icon2-world_edit{ background-position: -1638px -312px; } 
.icon2-world_go{ background-position: -1664px -312px; } 
.icon2-world_link{ background-position: -1690px -312px; } 
.icon2-wrench{ background-position: -1716px -312px; } 
.icon2-wrench_orange{ background-position: -1742px -312px; } 
.icon2-xhtml{ background-position: -1768px -312px; } 
.icon2-xhtml_add{ background-position: -1794px -312px; } 
.icon2-xhtml_delete{ background-position: -1820px -312px; } 
.icon2-xhtml_go{ background-position: -1846px -312px; } 
.icon2-xhtml_valid{ background-position: -1872px -312px; } 
.icon2-zoom{ background-position: -1898px -312px; } 
.icon2-zoom_in{ background-position: -1924px -312px; } 
.icon2-zoom_out{ background-position: -1950px -312px; } 
